<div class="signup-form">
  <div class="signup">
    <h1 class="form-heading">Sign up</h1>
    <form #f="ngForm" (ngSubmit)="handleSubmit(f.value)">
      <div class="form-group">
        <input ngModel name="firstName" #firstName="ngModel" placeholder="First Name" id="firstName" type="text"
          class="form-control" required minlength="3" autofocus>
        <div class="alert alert-danger" *ngIf="!firstName.valid && firstName.touched">
          <div *ngIf="firstName.errors.required">firstName is required</div>
          <div *ngIf="firstName.errors.minlength">firstName should have a minimum of
            {{firstName.errors.minlength.requiredLength}} characters</div>
        </div>
      </div>
      <div class="form-group">
        <input ngModel name="lastName" #lastName="ngModel" placeholder="Last Name" id="lastName" type="text"
          class="form-control" required minlength="3">
        <div class="alert alert-danger" *ngIf="!lastName.valid && lastName.touched">
          <div *ngIf="lastName.errors.required">lastName is required</div>
          <div *ngIf="lastName.errors.minlength">lastName should have a minimum of
            {{lastName.errors.minlength.requiredLength}} characters</div>
        </div>
      </div>
      <div class="form-group">
        <input ngModel name="email" #email="ngModel" placeholder="Email" id="email" type="email" class="form-control"
          required>
        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
          <div *ngIf="email.errors.required">email is required</div>
        </div>
      </div>
      <div class="form-group">
        <input ngModel name="password" #password="ngModel" placeholder="password" id="password" type="password"
          class="form-control" required minlength="6">
        <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
          <div *ngIf="password.errors.required">password is required</div>
          <div *ngIf="password.errors.minlength">password should have a minimum of
            {{password.errors.minlength.requiredLength}} characters</div>
        </div>
      </div>
      <button class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
